//extends layout

//block content
html
    head
        link(href='stylesheets/menu.css', rel='stylesheet')
    body
    div(id="divLogo")
        a(href="itemslist")
            img(src="images/logo.png" id="logo")
    div(class = "products_wrapper")
        ul(class = "products_grid")
            each item in itemslist
                li
                    div(class="item")
                        div(class="image_wrapper")
                            img(src = "images/" + "#{item.name}" + ".jpg" width="300" class="woocommerce-placeholder wp-post-image" height="250")
                        div(class="desc")
                            h1 #{item.name}
                            span(class="price") $#{item.price}
